.search-bar {
  background-color: $yellow-main;
  display: flex;
  justify-content: center;
  > div {
    width: 75%;
    padding: 10px;
    display: flex;
    justify-content: center;
    > .meliLogo {
      cursor: pointer;
    }
    > .searchInput {
      margin-left: 1em;
      display: flex;
      flex-grow: 1;
      > input {
        flex-grow: 1;
        border: none;
        outline: none;
        border-radius: 5px 0 0 5px;
        padding: 10px;
        font-size: 18px;
      }
      .searchIconContainer {
        display: flex;
        background-color: $gray-light;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        > img {
          align-self: center;
          padding: 10px;
        }
      }
    }
  }
}
